
/*General website Layout*/

body {
    font-family: 'Roboto', sans-serif;
}

/*heading and texts*/
h1 {
    font-weight: 150;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}

h1 .sub-headline {
	font-weight: 200;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    font-weight: 300;
    font-size: 35px;
    margin-top: 90px;
    margin-bottom: 55px;
    color: #006d2c;
    text-align: center;
}

h2.fig-label {
    font-weight: 300;
    font-size: 28px;
    margin-top: 57px;
    margin-bottom: 20px;
    color: #006d2c;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-weight: 200;
    font-size: 18px;

}

p.big-para {
    font-weight: 200;
    font-size: 15px;
    line-height: 150%;
}

p.p-small {
    font-weight: 200;
    font-size: 13px;
}

p.cb-leading-text {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

p.main-text {
    font-size: 18px;
    margin-top: 5px;
    text-align: justify;
    line-height: 180%;
}

li.main-text {
    font-size: 18px;
    margin-top: 5px;
    /*text-align: justify;*/
    line-height: 180%;
    font-weight: 200;
}

p.intro-text {
    font-size: 20px;
    margin-top: 5px;
    text-align: justify;
    line-height: 180%;
}

.cb-numbers {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}

div#solution-vis{
    margin-top: 10px;
    margin-bottom: 20px;
}

div#solution-vis1 {
    padding: 40px;
    margin-bottom: 20px;
}

.prospera {
    font-size: 20px;
    font-weight: 400;
}

.text-highlight {
    font-weight: 400;
}

.text-bold {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}

.slider-selection {
    background: #cccccc;
}

/*Link*/
a {
    font-weight: 200;
    font-size: 15px;
}

a.big-para {
    font-weight: 200;
    font-size: 15px;
}

a.p-small {
    font-weight: 200;
    font-size: 13px;
}

a.link-h2 {
    font-weight: 300;
    font-size: 35px;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #006d2c;
    text-align: center;
    letter-spacing: 3px;
}

a.link-intro {
    font-size: 20px;
    margin-top: 5px;
    text-align: justify;
    line-height: 180%;
}

a.main-text {
    font-size: 18px;
    margin-top: 5px;
    line-height: 180%;
}

.main-text-bold {
    font-size: 18px;
    margin-top: 5px;
    line-height: 180%;
    font-weight: 300;
}

/*bullet points*/
ul {
    font-weight: 200;
    font-size: 15px;
}

li.dropdown {
    font-weight: 100;
}

/*images*/
.img-circle {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.intro {
    margin-top: 100px;
    margin-bottom: 0px;
}


hr.style2 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.div-center {
    text-align: center;
}


/*Navigation Menu*/
nav.navbar-findcond {
    background: #fff;
    border-color: #ccc;
    box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
    color: #555;
}

nav.navbar-findcond ul.navbar-nav a {
    color: #555;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active {
    background: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover {
    border-color: #555;
}

nav.navbar-findcond li.divider {
    background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
    background: #555;
    border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
    background: #999;
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar {
    background: #fff;
}

nav.navbar-findcond ul.dropdown-menu {
    border: 0;
    background: #fff;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu > li > a {
    color: #444;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover {
    background: #555;
    color: #fff;
}

nav.navbar-findcond span.badge {
    background: #555;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
    background: #555;
    color: #fff;
}

a.nav-list {
    font-weight:200;
}

/*cost-benefit estimates vis*/
#costben-vis {
    margin: 20px;
}
.axis path {
    stroke: #ababab;
}

.axis line {
    stroke: #ababab;
}

.axis text {
    fill: #ababab;
}

.y-label {
    font-size: 11px;
    fill: grey;
    transform: rotate(-90deg);
    text-anchor: end;
    opacity: 0.5;
}

.x-label {
    font-size: 11px;
    fill: grey;
    text-anchor: end;
    opacity: 0.5;
}

.title {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    text-anchor: center;
    color: #005121;
}

.subtitle {
    font-weight: 200;
    font-size: 11px;
    text-align: center;
    text-anchor: center;
    /*which one is which?*/
}

.slider-text {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.legend-cost {
    stroke: #C0392B;
    fill: #C0392B;
}

.legend-ben {
    stroke: #1F3A93;
    fill: #1F3A93;
}

.legend-text {
    font-weight: 200;
    font-size: 15px;
    opacity: 0.5;
    letter-spacing: 1px;
}

/*styling for numbers (CB page)*/
.svg-nb {
    margin: 5px;
}

#updateBtn {
    background-color: white;
    border: 1px solid #006d2c;
    transition-duration: 0.2s;
    color: #006d2c;
    border-radius: 10px;
}

#updateBtn:hover {
    background-color: #006d2c;
    color: white;
}

.slider-label {
    font-weight: 300;
    /*text-align: center;*/
    font-size: 15px;
    /*margin-top: 30px;*/
    margin-bottom: 20px;
}

.slider-value {
    font-weight: 400;
    font-size: 20px;
    color: #006d2c;
}

.slider-row {
    margin-bottom: 20px;
}

.slider-handle {
    background: #4f4f4f;
    border:2px solid #4f4f4f;
}

.line-cost {
    stroke: #C0392B;
    stroke-width: 2.5px;
    fill: none;
}

.line-ben {
    stroke: #1F3A93;
    stroke-width: 2.5px;
    fill: none;
}

.point-cost {
    fill: #C0392B;
    stroke: #C0392B;
    stroke-width: 0.1px;
}

.point-ben {
    fill: #1F3A93;
    stroke: #1F3A93;
    stroke-width: 0.1px;
}

.axis {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight:100;

}

/*styling for channel figure*/
div#channel-vis {
    margin-top: 20px;
    margin-bottom: 20px;
}

circle.source {
    fill: #595959;
    stroke: #595959;
    stroke-width: #595959;
}

.channel-text {
    text-anchor: middle;
    fill: white;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 2px;
}

.channel-a-title {
    text-anchor: middle;
    fill: #487ba8;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.channel-b-title {
    text-anchor: middle;
    fill: #1c683d;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.channel-c-title {
    text-anchor: middle;
    fill: #906d00;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.channel-subtext {
    text-anchor: middle;
    fill: #f8f8f8;
    font-size: 18px;
    font-weight: 300;
}

.channel-subtext2 {
    text-anchor: middle;
    fill: #f8f8f8;
    font-size: 15px;
    font-weight: 300;
}

.channel-subtext3 {
    text-anchor: middle;
    fill: #f8f8f8;
    font-size: 13px;
    font-weight: 300;
}

.channel-note {
    text-anchor: middle;
    fill: #676767;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
    opacity: 0.5;
}

rect.background {
    fill-opacity: 0.06;
    stroke-dasharray: 10,4;
    stroke: #595959;
}

rect.institution {
    fill: #595959;
    stroke-opacity: 0.5;
}

rect.channel {
    fill-opacity: 0.3;
}

rect.channel-a {
    fill: #5B9BD5;
    stroke: #5B9BD5;
}

rect.channel-b {
    fill: #2CA25F;
    stroke: #2CA25F;
}

rect.channel-decolored {
    opacity: 0.45;
}

rect.channel-c {
    fill: #FFC000;
    stroke: #FFC000;
}

.blue-arrows {
    fill: #cccccc;
    stroke: #00471d;
}


/*image for channel */

img.channels {
    margin-top: 20px;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

p.channel-caption {
    font-weight: 200;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;

}